{{template "base"}}

{{define "content"}}

<div class="container">
    <div class=row>
        <div>
            <h1 class="col text-center mt-4">Contact Page</h1>

        </div>
    </div>
</div>


{{end}}