{{template "base" .}}

    {{define "content"}}
    <div class=container>
        <div class=row>
            <div class=col>
                <h1>This is the home page </h1>
                <p>this is hioem page</p>

                <p>This came from template: 
                    {{ with .StringMap }}
                        {{ index . "test" }}
                    {{ else }}
                      <p> StringMap is nil</p> 
                    {{ end }}</p>

            </div>
        </div>
    </div>
    {{end}}

